body{
    background: rgb(194, 188, 188);
}
.main-container{
    display:flex;
    justify-content: center;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    height:350px;
}
main{
    position: relative;
    height:350px;
}
#photo{
    width: 100%;
    max-width: 500px;
    height: 100%;
}
.szoveg{
    position:absolute;
    bottom:0px;
    background:rgb(128,128,128,0.5);
    color:white;
    width:500px;
}
h1,p{
    margin-left:10px;    
}
aside{
    display:flex;
    justify-content: center;
    background:honeydew;
    width:80px;
}
#left-arrow{
    width:20px;
}
#right-arrow{
    transform:rotate(0.5turn);
    width:20px;
}
.thumbnail{
    display:flex;
    justify-content:center;
    align-items: center;
    max-width:660px;
    margin-left:auto;
    margin-right:auto;
    height:130px;
}
.smallphotos{
    width: 80px;
    height:65px;
    border: 3px solid rgba(250, 250, 250, 0.993);
    border-radius: 4px;
    margin: 5px;
}
.smallphotos:hover{
    box-shadow: 0 0 1px 2px rgba(16, 19, 20, 0.5);
}

