body{
    background-color: darkgrey;
}
.main-container{
    display:flex;
    justify-content: center;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
}
main{
    position: relative;
}
#photo{
    width: 100%;
    max-width: 500px;
    height: auto;
}
.szoveg{
    position:absolute;
    bottom:0px;
    background:rgb(128,128,128,0.5);
    color:white;
    width:500px;
}
h1,p{
    margin-left:10px;    
}
aside{
    display:flex;
    justify-content: center;
    background:honeydew;
    width:80px;
}
#left-arrow{
    width:20px;
}
#right-arrow{
    transform:rotate(0.5turn);
    width:20px;
}